<div class="header">
    <div class="container">
    <h1 class="back_non_english">
        <a href="/">
            <img src="{{ "images/kdedu-logo.png" | relURL }}" width="174px" height="92px">   
        </a>
    </h1>
    </div>
    <!-- <div class="search">
        <input type="text" placeholder="Pesquisar" id="search">
    </div> -->
    <div class="plasmamenu_box">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <div class="nav-item mainmenu_aplicativos">
                  <a class="nav-link" href="#"><h2>Aplicativos</h2><span class="sr-only"></span></a>
                </div>
                <div class="nav-item mainmenu_aplicativos">
                    <a class="nav-link" href="#"><h2>Teste</h2><span class="sr-only"></span></a>
                </div>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                   <h2>Dropdown</h2>
                  </a>
                  <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-menu-edit">
                    <div class="menubox_top"></div>
                    <div class="menubox_body ">
                    <li><a href="#" class="dropdown-item dropdown-item-edu">Some action </a></li>
                    <li><a href="#" class="dropdown-item dropdown-item-edu">Some other action</a></li>
                    <li class="dropdown-submenu">
                      <a id="dropdownMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-item-edu dropdown-toggle">
                        level 2
                      </a>
                      <ul aria-labelledby="dropdownMenu3" class="dropdown-menu ">
                        <li><a href="#" class="dropdown-item dropdown-item-edu">3rd level</a></li>
                        <li><a href="#" class="dropdown-item dropdown-item-edu">3rd level</a></li>
                      </ul>
                    </li>
                  </div>
                  <div class="menubox_bottom"></div>
                  </ul>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <h2>Dropdown</h2>
                  </a>
                  <div class="dropdown-menu dropdown-menu-edit" aria-labelledby="navbarDropdown">
                    <div class="menubox_top"></div>
                    <div class="menubox_body ">
                      <a class="dropdown-item dropdown-item-edu" href="#">Action</a>
                      <a class="dropdown-item dropdown-item-edu" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item dropdown-item-edu" href="#">Something else here</a>
                      <a class="dropdown-item dropdown-item-edu" href="#">Something else here</a>
                    </div>
                    <div class="menubox_bottom"></div>
                  </div>
                </li> 
              </ul>
            </div>
          </nav>
    </div>
</div>