/* Eric Meyer CSS Reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

/*Rule por use EM font-size instead PX*/

html{
	font-size: 62.5%;
	background: #505050;
   	height: 100%;
}

/*Basic elements style*/

body { line-height: 1; font-size: 1.3em; text-align: center; 
	font-family: "Liberation Sans","Bitstream Vera Sans", Verdana, Arial, sans-serif;
	background: #fff url('../../images/background.png') repeat left top;
    color: #666666;}
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,q:before, q:after {	content: ''; content: none; }



/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }


/*Formating and setups*/

.root {text-align: left; 
	background: url('../../images/bg-grunge.png') repeat-x center top;
	min-height: 440px;
	}
/*Header style*/

.header{
	padding-top: 25px;
}

.header h1{
	float: left;
	padding-left: 20px;
	position: relative;
	height: 92px;
}

.header h1:hover:after{
	content: ' ';
	background: url('../../../images/back-home.png') no-repeat left top;
	display: block;
	height: 53px;
	width: 153px;
	position: absolute;
	right: -125px;
	top: 20px;
}

.header .search{
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

.header .search label{
	text-indent: -99999999px;
	background: url('../../images/header/label-search.png') no-repeat left center;
	display: block;
	width: 90px;
	height: 30px;
	float: left;
}

.header .search input{
	background: url('../../images/header/input-search.png') no-repeat left top;
	border:none;
	padding: 8px 8px 7px 30px;
	color: #2d4e63;
	width: 97px;
}

.header .search_result{
	position: absolute;
	z-index: 200;
	right: 0px;
	top: 95px;
	width: 180px;
	background: #f2f3f3;
}	
/*.header .search_result ul li.result_noindex_shown:nth-child(2n+2){
	background: #e7eaec;
	border-top: 1px dotted #dde8f2;
	border-bottom: 1px dotted #dde8f2;
}*/

.header .search_result ul{
	-moz-box-shadow: 0 2px 5px rgba(0,0,0, .3), 0px 1px 0px #CED1DB inset;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0, .3), 0px 1px 0px #CED1DB inset;
	-khtml-box-shadow: 0 2px 5px rgba(0,0,0, .3), 0px 1px 0px #CED1DB inset;
	box-shadow: 0 2px 5px rgba(0,0,0, .3), 0px 1px 0px #CED1DB inset;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.header .search_result li{
	border-bottom: 1px dotted #CED1DB;
}
.header .search_result li img{
	/*display: none;*/
	float: left;
	width: 15px;
	margin-left: 10px;
	padding: 12px 5px;
}
.header .search_result li a{
	text-decoration: none;
	color: #0A71B4;
	display: block;
	padding: 13px 30px 13px 39px;
}

.header .search_result li a:hover{
	color: #fff;
	background: #0A71B4 url("../../../images/search_result-over.png") repeat-x scroll left top;
	text-shadow: 1px 1px 1px rgba(0,0,0, .5);
}

 .result_noindex_hidden   {
		display: none;
}
.result_noindex_shown{
		display:  list-item;
}

.header .search_result li.result_with_focus a{
		color: white;
		background: #0A71B4 url("../../../images/search_result-over.png") repeat-x scroll left top;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}
 .result_without_focus
	{
	}
.header .search_result li.result_noindex_first a{
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-khtml-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}

.header .search_result li.result_noindex_last a{
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-khtml-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
}
.header .search_result li.result_noindex_first.result_noindex_last a{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
}

.header .toolbox .toolboxtext { padding-top: 10px; }
.header .toolbox div {float: left; width: auto;padding: 0 10px 0 10px;color: #888; text-shadow: #fff 0px 0px 3px; text-decoration:none; font-size: 12px; font-weight:normal;}
.header .toolbox #location {min-width:370px;}
.header .toolbox #location li {float: left; width: auto; padding: 0 0 0 10px;background-image:url('../../images/crumb.arrow.png');
					    background-repeat:no-repeat;
					    background-position:0 2px}
.header .toolbox #location li a{color: #666; text-shadow: #fff 0px 0px 3px; text-decoration:none; font-size: 12px; font-weight:normal;}
.header .toolbox #location li a[href]:hover{text-decoration:underline}
.header .toolbox #location li:first-child {background-image:none}
.header .menu_box { display: table; text-align: left; width: auto; min-height:160px; margin: 0 auto; text-shadow: #fff 0px 0px 3px; }
.header .menu_box li { float: left; margin: 3px 14px }
.header .menu_box li a {text-decoration: none; margin: 0px 10px}
.header .menu_box li h2 a{color: #555; font-size: 14px; font-weight:normal; padding-left:10px; text-transform:uppercase}
.header .menu_box li ul { padding-top:5px; padding-left: 10px;}
.header .menu_box li a:hover h2,
.header .menu_box li a:hover, .header .menu_box li a#current {color:#222;text-shadow: #E6F1FF 0px 0px 3px; background-image:url('../../images/underline.png');
					    background-repeat:repeat-x;
					    background-position:bottom}
.header .menu_box li ul li { float: none; text-align: left; margin:5px 0}
.header .menu_box li ul li a { color: #666; font-size: 12px; margin: 5px;}
.header .menu_box li ul li ul {margin: 4px 2px 4px 10px; padding:0;}
.header .menu_box li ul li ul li {margin:2px; padding:0;}
				
/*Header glow/icons*/
#cp-menu-home {background-image:url('../../images/blue.icon.png');
	background-repeat:no-repeat;
	background-position:0 0}
#cp-menu-home:hover {text-shadow: #8ed1ff 0px 0px 18px;}
#cp-menu-community {background-image:url('../../images/green.icon.png');
	background-repeat:no-repeat;
	background-position:0 0}
#cp-menu-community:hover {text-shadow: #acff08 0px 0px 18px;}
#cp-menu-workspaces {background-image:url('../../images/orange.icon.png');
	background-repeat:no-repeat;
	background-position:0 0}
#cp-menu-workspaces:hover {text-shadow: #ffae00 0px 0px 18px;}
#cp-menu-applications {background-image:url('../../images/red.icon.png');
	background-repeat:no-repeat;
	background-position:0 0}
#cp-menu-applications:hover {text-shadow: #ff96af 0px 0px 18px;}
#cp-menu-developerplatform {background-image:url('../../images/gray.icon.png');
	background-repeat:no-repeat;
	background-position:0 0}
#cp-menu-developerplatform:hover {text-shadow: #aaa 0px 0px 18px;}
#cp-menu-support {background-image:url('../../images/purple.icon.png');
	background-repeat:no-repeat;
	background-position:0 0}
#cp-menu-support:hover {text-shadow: #e285ff 0px 0px 18px;}				

.content {
	background-image:url('../images/bg-content.png');
	background-repeat: round;

}
.content .teaser { 
	height: 300px;
	width: 830px; display: block; margin: auto;  }
.content .teaser_hide { display: none;  }

.content a { color: #0099ff; text-decoration:none; border-bottom: 1px dotted;}
.content a:hover {color: #7db63a;}

a.cp-doNotDisplay { display: none; }

#main { padding:10px 60px 30px;text-shadow: #fff 0px 0px 3px;}



