/*.header .toolbox { 
  background-image: url('images/web/kde-edu-22.png');
	background-repeat: no-repeat;
	background-position: 0 4px;
	padding-left: 40px;
}*/

.toolboxtext{
    font-size: .81em;
}

#main img.inline {
padding:0;
margin:0;
border-style:none;
vertical-align:middle;
}

#main ul li {
margin-bottom: 0.5ex;
line-height: 1.4em;
}

#main .info-area ul li {
margin-bottom: 0;
}

#main table.kvtml {
margin-left:15px;
margin-right:15px;
}

#main table.kvtml td {
border:1px solid #e1eaf2;
}

#main table.kvtml tr td  {
text-align:left;
}

#main table.kvtml tr td:first-child  {
    text-align: center;
    vertical-align: middle;
}

#main table.kvtml tr td img {
margin:0;
vertical-align:middle;
width: 20px;
}

#main dl dt {
font-weight:bold;
margin-bottom:1ex;
}

#main dl dd {
margin-left:2em;
margin-bottom:1ex;
}

#main .edu-news {
clear:both;
padding:35px 0px 15px;
border-bottom: 1px dashed #c9d7e7;
margin-top: 15px;
background: url(../../images/bg-news.png) no-repeat left 50px;
}
#main .edu-news:first-child {
border-top: none;
}
#main .edu-news-title {
/* margin-bottom:1ex;
font-weight:bold;
font-size:larger;*/
font-size: 1.4em;
position: relative;
top: 35px;
left: 115px;

}

#main .edu-news-title a{
    border-bottom: none;
    color: #0A71B4;
}

#main .edu-news-date {
width: 120px;
background: url(../../images/bg-date.png) no-repeat left top;
margin-top: -15px;
}

#main .edu-news-date span{
display: block;	
text-align: center;
text-shadow: 1px 1px 0px #426fa1;
font-weight: bold;
font-family: Georgia;
margin-left: -3px;
}


#main .edu-news-date span.month{
padding-top: 10px;
text-transform: uppercase;
color: #426fa1;
text-shadow: 1px 1px 0px #c9d7e7;
font-size: .9em;
}

#main .edu-news-date span.day{
font-size: 1.6em;	
color: #FFF;
line-height: .9em;
}
#main .edu-news-date span.year{

padding-bottom: 11px;
line-height: 1.2em;
color: #c9d7e7;
}
#main .edu-news-description {
line-height: 1.3em;
padding: 20px;
}

#main .edu-news-readmore {
padding:5px 15px 15px 15px;
text-align:right;
}
