/* .header {
	height: 136px;
	width: 920px;
	margin: 0px auto;
	position: relative;
}
 */
 .dropdown-item-edu {
	width: 92%;
	margin-left: 3.5% !important;
	background-color: #b1bfcf transparent; 
}

.dropdown-item-edu:hover {
    background-color:#b2c0d0 !important;
    background-image: none !important;
}

.header .plasmamenu_box {
	width: 100%;
	display: block;
	margin-top: 100px;
	background: url('../images/bg-menu.png')  round no-repeat  left top;
}

@media (max-width: 900px) { 
	.header .plasmamenu_box {
		background-image: url('../images/bg-content.png');
		background-repeat: round;
	}
 }
/* .header .plasmamenu_box>div{
	width: 25%;
	padding:23px 0px 5px;
	background: url('../images/plasmaMenuEdu/btn-sep.png') no-repeat left 4px;
	margin-left: 0px;
	float: left;
}

.header .plasmamenu_box>div:first-child{
	background: none;
} */


.header .plasmamenu_box a {
	text-decoration: none; 
	margin:0px 11px 0px 0px;
	padding: 17px 10px 12px 25px;
}

.header .plasmamenu_box ul li.index a:hover, .header .plasmamenu_box ul li.noindex a:hover {
	background: url('../images/plasmaMenuEdu/menubox_a-over.png') repeat-x left top;
	/*background: #dedede;*/
	text-shadow: 1px 1px 1px #57697F;
	color: #fff;
	/*border-bottom: 1px solid #b5d0aa;
	border-right: 1px solid #b5d0aa;
	border-top: 1px solid #b5d0aa;*/
}

.header .plasmamenu_box h2 {
	background:url('../images/menu-arrow.png') no-repeat left top;
	color: #2d4e63;
	text-transform: inherit;
	font-size: 1.2em;
	margin-left: 34px;
	padding-left: 30px;
}

.header .plasmamenu_box .mainmenu_about_us h2{
	background-position: left -95px;
}

.header .plasmamenu_box .mainmenu_applications h2{
	background-position: left -63px;
}

.header .plasmamenu_box .mainmenu_support h2{
	background-position: left -126px;
}

.header .plasmamenu_box .mainmenu_contact_us h2{
	background-position: left -162px;
}

.header .plasmamenu_box div:hover div.plasmamenu_box_submenu {
	display: block;
}
.header .plasmamenu_box_submenu {
	display: none;
}

.header .plasmamenu_box div div br {
	margin-top: -4px;
}

.header .plasmamenu_box div div {
	width: 214px;
	margin-left: 3px;
}
.header .plasmamenu_box>div>div {
	margin-left: 10px;
	}
.header .plasmamenu_box div div.menubox_subparent{
	margin-left: 7px;	
}
.header .plasmamenu_box>div>div {
		top: 40px !important;
}

.header .plasmamenu_box  ul li.index, .header .plasmamenu_box ul li.noindex { 
	width: inherit;
	line-height: normal;
	padding-left: 0px;
	display: block;
	border-top: 1px solid #ced1db; 
	margin-right: 10px;
	margin-left: 1px;
}


.header .plasmamenu_box  ul:first-child li.index {
	display:none	
}
.header .plasmamenu_box  div div div div ul li:hover { 
	background: url('../images/plasmaMenuEdu/menubox-sep.png') no-repeat -2px top;
}

.header .plasmamenu_box ul li.noindex { 
	padding-left: 0px;
	margin-left: 17px;
	margin-right: 5px;
}

.header .plasmamenu_box ul li:first-child{
		border: none;
	}


.header .plasmamenu_box ul li.index a, .header .plasmamenu_box ul li.noindex a { 
	color: #444;
	text-shadow: #ffffff 1px 1px 1px;
	font-size: .9em;
	/* vertical-align: top; */
	display: block;
/*	border-top: 1px solid #ced1db;*/
	margin-right: 1px;
}


.header .plasmamenu_box  div div div div ul li h3 { 
	color: #444;
	text-shadow: #ffffff 1px 1px 1px;
	font-size: 1em; 
	font-weight: normal;
	/* width: 165px; */
	display: inline;
}

.menubox_subarr {
	position: absolute;
	left: 180px;
	margin-top: -24px;
}

.menubox_subhover:hover .menubox_subparent { 
	display: block;
}

.menubox_subparent {
	display: none;
	position: absolute;
	left: 173px;
	margin-top: -52px;
	z-index: 100;
	width: 160px;
}

.menubox_sep {
	display: none;
}

.menubox_icon {
	width: 16px;
	height: 16px;
	margin-left: 24px;
	margin-top: 16px;
	margin-right: 10px;
	position: static;
	float: left;
}

.menubox_space {
	padding-left: 18px;
}

.menubox_top {
	background: url('../images/menubox_top.png') no-repeat;
	height: 26px;
	position: relative;
}
.menubox_bottom {
	background: url('../images/menubox_bottom.png') no-repeat left bottom;
	height: 17px;
	position: relative;
}

.menubox_body {
	background: url('../images/menubox_body.png') repeat-y;
}

.menubox_subparent .menubox_top{
	background: url('../images/plasmaMenuEdu/submenubox_top.png') no-repeat left -10px;
	height: 11px;
}

.menubox_subparent .menubox_body{
	background: url('../images/plasmaMenuEdu/submenubox_body_2.png') repeat-y;
}

html .header .menubox_subparent .menubox_body ul li:first-child{
	background: url('../images/plasmaMenuEdu/submenubox_body_1.png') no-repeat left center;
	margin-left: 0px;
	padding-left: 17px;
}


.menubox_subparent .menubox_bottom{
	background: url('../images/plasmaMenuEdu/submenubox_bottom.png') no-repeat left bottom;
}