<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body >
        <div class="root">
            <div class="container">        
                {{- partial "header.html" . -}}
                <div class="content">
                    <div id = "main">
                        {{- block "main" . }}{{- end }}
                    </div>
                </div> 
            </div>   
        </div>
        {{- partial "footer.html" . -}}
    
    </body>
</html>